.ContactSec-Container {
    text-align: center;
    Padding: 15px 0 55px 0px;
}

.ContactSec-Container ul {
    list-style-type: none;
    font-size: 26px;
}


@media (max-width: 768px) {
    .ContactSec-Container {
    Padding: 0 0 15px 0;
}
.ContactSec-Container ul {
    font-size: 20px;
}
}